HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

../src/main/resources/application-ainazik.properties
../src/main/resources/application-datka.properties
../src/main/resources/application-aizat.properties

